/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/masthead.scss";

// Partials
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";
// @import "partials/book-tour.scss";


html {
  font-size: 87.5% !important;
  overflow-x: hidden;
  max-width: 100%;
  body {
  font-size: 87.5%;
  max-width: 100%;
  color: #000;
  overflow-x: hidden;
  .post-tags {
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;        
        a {
          margin-right: 8px;
          font-size: .8rem;
          padding-right: 8px;
          border-right: 1px solid #000;
        }
        &:last-child {
          a {
            border: 0px;
          }
        }
      }
    }
    a {
      text-transform: uppercase;
    }
  }
  .full-width-advertisement {
    padding: 0px 0px 2vw !important;
    .container {
      max-width: 1440px !important;
    }
    @media all and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  .app-banner {
    background: #000;
    width: 100%;
    text-align: center;
    max-width: 75%;
    margin: 25% auto 0px;
    padding: 30px;
    h1 {
      margin: 0px;
      max-width: 100% !important;
    }
    .btn {
      color: #fff;
      border: 1px solid #fff;
    }
  }
  .ssba-share-text {
    display: none;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
  }
    .image-credit {
      color: #8B8B8B;
      font-weight: 100;
      text-align: right;
      margin-top: 8px;
      font-size: .725rem;
      width: 100%;
      display: block;
      img {
        margin-right: 2px;
        display:inline-block;
      }
    }
    .title-block {
      padding-bottom: 0px !important;
    }
    .ltk-posts {
      padding-bottom: 0px !important;
    }
    section {
      padding: 2vw 0px;
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    h1 {
      line-height: 1.2;
      font-size: 2.6rem;
      font-family: 'Didot' !important;
    }
    h2 {
      font-size: 2rem;
      font-family: 'Gotham' !important;
      font-weight: 300;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.6rem;
      font-family: 'Gotham' !important;
    }
    h4 {
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 1rem;
      text-transform: uppercase;
      font-family: 'Gotham' !important;
    }
    p {
      font-size: 1rem;
      line-height: 2.4;
      font-weight: 300;
      color: #000;
      font-family: 'Gotham' !important;
    }
    ul {
      li {
        font-size: 1rem;
        font-family: 'Gotham' !important;
      }
    }
    a {
      font-size: 1rem;
      font-family: 'Gotham' !important;
    }
    span {
      font-size: 1rem;
      font-family: 'Gotham' !important;
    }
    img {
      max-width: 100%;
    }
    .logo {
      text-align: left;
      // margin-top: 60px;
      // margin-bottom: 40px;
      img {
        max-width: 480px;
      }
      @media all and (max-width: 767px) {
        img {
          max-width: 100%;
        }
      }
    }
    .btn {
      display: inline-block;
      background: transparent;
      color: #000;
      line-height: 100%;
      font-size: .875rem;
      padding: 15px 20px 14px;
      font-weight: 300;
      letter-spacing: 1px;
      border: 1px solid #000;
      text-transform: uppercase;
      font-family: 'Gotham';
      text-decoration: none !important;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      &:hover {
        background: #000;
        color: #fff;
        text-decoration: none;
        // font-weight: 600;
        border: 1px solid #000;
      }
      &.btn-secondary {
        background: #fff;
        color: #000;
        // border: 1px solid #000 !important;
        &:hover {
          background: #000;
          color: #fff;
          font-weight: 600;
        }
      }
      @media all and (max-width: 767px) {
        line-height: 100%;
        font-size: 1rem;
      }
    }
    .container {
      max-width: 1280px;
      @media all and (max-width: 767px) {
        padding: 0px 40px;
      }
    }
    .promotion-boxes {
      padding: 0px !important;
      .box {
        padding: 20px 40px;
      }
      .slick-slide {
          margin: 0 5px;
      }
      .slick-track {
        margin: 0px !important;
      }
      .slick-list {
          margin: 0 -5px;
      }
      @media all and (max-width: 767px) {
        // img {
        //   height: auto;
        //   width: 100%;
        // }
      }
    }
    .advertisement {
      padding: 0px !important;
      .float-image {
        position: relative;
        img {
          position: absolute;
          top: -120px;
          height: 290px;
          width: auto !important;
          max-width: none !important;
        }
      }
      .content {
        .logo-img {
          max-width: 60%;
          margin: 40px auto 30px;
        }
      }
      h2 {
        font-size: 1.2rem;
        max-width: 75%;
        margin: 0px auto 30px;
      } 
      .image {
        height: 250px;
        border-left: 5px solid #fff;
        width: 100%;
      }
    }
    .category-tiles {
      .jarallax {
        height: 250px;
        width: 100%;
        &::after {
          content: '';
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(0,0,0,.5);
        }
        &.last {
          &::after {
            background: #FBDCE1;
          }

        }
      }
      .box {
        position: relative;
        h4 {
          margin: 0px;
          top: 50%;
          position: absolute;
          z-index: 8;
          width: 100%;
        }
        &.last {
          text-align: center;
          h4 {
            top: 40%;
            margin: 0px auto;
            width: 80%;
            left: 10%;
            color: #000;
            font-size: 1.6rem;
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
          }
          &:hover {
            h4 {
              color: #fff;
            }
            .jarallax {
              &::after {
                background: #000;
              }
            }
          }
        }
      }
      @media all and (max-width: 767px) {
        .jarallax {
          height: 140px !important;
          margin-bottom: 30px;
        }
        .box {
          h4 {
            top: 45% !important;
            font-size: 12px !important;
          }
          &.last {
            h4 {
              top: 38% !important;
            }
          }
        }
      }
    }
    .post-slider {
      max-width: 100%;
      width: 100%;
      /* the slides */
      .slick-slide {
          margin: 0 10px;
      }
      .slick-track {
        margin: 0px !important;
      }
      .slick-list {
          margin: 0 -10px;
      }
    }
    .posts-grid {
      article {
        border: 1px solid #E1E1E1;
        padding: 12px;
        max-width: 90%;
        margin-bottom: 55px;
        cursor: pointer;
        transition: .2s all ease-in-out;
            -webkit-transition: .2s all ease-in-out;
        h5 {
          margin-top: 0px;
        }
        h4 {
          font-size: 1.2rem;
          text-transform: none;
          font-weight: 600;
          margin-top: 8px;
          letter-spacing: 0px;
        }
        * {
          word-wrap: break-word
        }
        figure {
          .grid-image {
            transition: .2s all ease-in-out;
            -webkit-transition: .2s all ease-in-out;
          }
        }
        &:hover {
          box-shadow: 0px 2px 10px 0px rgba(0,0,0,.15);
          .grid-image {
            opacity: .95;
          }
        }
      }
      @media all and (max-width: 767px) {
        article {
          max-width: 100% !important;
          margin-bottom: 30px !important;
          figure {
            .grid-image {
              height: 90px !important;
            }
          }
        }
      }
    }
    .posts-tiles {
      position: relative;
      article {
        margin-bottom: 40px !important;
      }
      .arrows {
        display: none;
        position: absolute;
        top: 50%;
        width: 100%;
        i {
          color: rgba(0,0,0,.15);
          font-size: 28px;
          cursor: pointer;
          &:hover  {
            color: rgba(0,0,0,1);
          }
        }
        .next {
          float: right;
        }
      }
      @media all and (max-width: 767px) {
        margin-bottom: 30px !important;
        .arrows {
          display: block;
        }
        h2 {
          font-size: 18px;
          margin-top: 0px !important;
        }
        h3 {
          font-size: 24px;
          margin-bottom: 0px;
        }
        p {
          margin-top: 12px;
        }
        .text--tag {
          a {
            font-size: 8px !important;
          }
        }
        .col-xs-12 {
          padding-left: 0px;
        }
      }
    }
    .sponsored-by {
      line-height: 28px;
      h3 {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 14px;
        img {
          height: 14px;
          margin-top: -6px;
        }
      }
    }
    .single-post {
      .ltk-posts {
        position: relative;
        .arrows {
          position: absolute;
          top: 50%;
          width: 100%;
          i {
            color: rgba(0,0,0,.15);
            font-size: 28px;
            cursor: pointer;
            &:hover  {
              color: rgba(0,0,0,1);
            }
          }
          .next {
            float: right;
          }
        }
      }
      
      .author-meta {
        img {
          max-width: 60px;
          height: 60px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 8px;
        }
        h2 {
          display: inline-block;
          font-family: 'Didot' !important;
          text-transform: lowercase;
        }
      }
      .thumbstrip {
        margin-top: 16px;
      }
      .hero {
        max-width: 50%;
        margin: 0 auto;
      }
      .content {
        h1 {
          margin-top: 8px;
          max-width: 75%;
        }
      }
      .category {
        h4 {
          color: #8B8B8B;
          margin: 0px;
        }
      }
      .date {
        color: #8B8B8B;
        font-weight: 300;
        margin-top: 20px;
        display: block;
        letter-spacing: 2.5px;
        font-size: .875rem;
      }
      
    }
    article {
      // width: auto;
      figure {
        margin: 0px;
      }
      h5 {
        margin-bottom: 0px;
      }
      h3 {
        margin-top: 8px;
        margin-bottom: 0px;
        font-size: 1.4rem;
      }
    }
    .capture-bar {
      padding: 1vw 0px !important;
      .capture-form {
        #mc_embed_signup {
          margin-top: 10px;
        }
        * {
          font-family: 'Gotham' !important;

        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #767676;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #767676;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #767676;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #767676;
        }
        input {
          border-radius: 0px !important;
          line-height: 54px !important;
          height: 54px !important;
        }
        .email {
          padding-left: 16px !important;
          width: 75% !important;
        }
        .button {
          margin-left: 10% !important;
          background: transparent !important;
          color: #000 !important;
          font-weight: 600;
          text-transform: uppercase !important;
          border: 1px solid #000 !important;
          letter-spacing: 1px !important;
          border-radius: 0px !important;
        }
      }
      @media all and (max-width: 767px) {
        .container {
          padding: 0px 0px;
        }
        h1 {
          font-size: 28px;
          text-align: center;
          margin-bottom: 0px;
        }
        .capture-form {
          input {
            line-height: 36px !important;
            height: 36px !important;
            &.email {
              border: 0px !important;
              text-transform: lowercase !important;
              margin-bottom: 20px !important;
            }
          }
          .button {
            margin-left: 0px !important;
            width: 160px !important;
            letter-spacing: 3px !important;
            font-size: 12px !important;
            margin-bottom: 12px !important;
          }
        }
        
      }
    }
    .general-page-header {
      // min-height: 420px;
      .row {
        min-height: 420px;
      }
      .header-box {
        background: #000;
        padding: 20px 20px;
        width: 100%;
        h2 {
          margin: 0px !important;
          text-transform: none !important;
          font-family: 'Didot' !important;
          &.bottom-line {
            font-weight: 100 !important;
            font-style: italic;
          }
        }
      }
    }
    .show-mobile {
      display: none !important;
      @media all and (max-width: 767px) {
        display: block !important;
      }
    }
    .hide-mobile {
      @media all and (max-width: 767px) {
        display: none;
      }
    }
  }
}