.footer {
  padding: 4vh 0px;
  background: #000; }
  .footer .rs {
    max-width: 220px; }
  .footer p {
    font-size: .725rem;
    color: #fff; }
    .footer p a {
      color: #fff;
      font-size: .725rem; }
  .footer .logo-img {
    margin: 8px auto; }
  .footer .powered-by {
    color: #767676;
    margin-top: 30px; }
    .footer .powered-by p {
      color: #767676; }
    .footer .powered-by .learn-more {
      text-transform: uppercase;
      color: #767676; }
    .footer .powered-by img {
      max-width: 140px; }
  .footer .download-buttons img {
    height: 40px; }
  .footer .ltk-footer {
    margin-top: 32px; }
    .footer .ltk-footer .logo-img {
      max-width: 130px; }
    .footer .ltk-footer svg {
      width: 100%; }
    .footer .ltk-footer ul {
      margin-top: -8px;
      list-style-type: none;
      padding: 0px; }
      .footer .ltk-footer ul li {
        display: inline-block;
        margin: 12px auto; }
        .footer .ltk-footer ul li a {
          padding: 0px 12px 0px 8px;
          border-right: 1px solid #767676;
          font-size: .625rem;
          color: #fff; }
        .footer .ltk-footer ul li:last-child a {
          border-right: 0px; }
  .footer .copyright {
    display: inline-block;
    margin-right: 8px;
    color: #767676; }
  .footer nav {
    display: inline-block; }
    .footer nav ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      .footer nav ul li {
        display: inline-block;
        margin: 8px 0px !important; }
        .footer nav ul li a {
          text-transform: none !important;
          font-size: .725rem;
          color: #767676;
          font-family: 'Gotham';
          font-weight: 300;
          transition: all .2s ease-in-out;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          border-right: 1px solid #767676;
          margin-right: 4px;
          padding-right: 6px; }
          .footer nav ul li a:hover {
            color: #fff;
            font-weight: 600;
            text-decoration: none; }
        .footer nav ul li:last-child a {
          border: 0px; }
  .footer .social {
    margin: 10px auto 0px;
    padding: 0px !important;
    list-style-type: none; }
    .footer .social li {
      display: inline-block; }
      .footer .social li img {
        height: 32px;
        margin-top: -5px;
        margin-left: -8px;
        opacity: 1; }
      .footer .social li a {
        color: #000;
        opacity: .5;
        padding: 16px 8px;
        font-size: 1.8rem;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out; }
        .footer .social li a:hover {
          color: #000;
          opacity: 1; }
  @media all and (max-width: 767px) {
    .footer {
      padding-bottom: 0px; }
      .footer .ltk-footer {
        margin-top: 0px !important;
        margin-bottom: 30px !important; }
      .footer .powered-by p {
        margin-top: 10px !important; }
      .footer .learn-more {
        margin-top: 0px !important; }
      .footer p {
        margin-top: 30px; }
      .footer nav {
        margin-bottom: 30px !important; }
        .footer nav ul {
          list-style-type: none; }
          .footer nav ul li {
            display: inline-block !important;
            line-height: 12px !important; }
            .footer nav ul li a {
              color: #fff !important;
              font-size: 10px !important;
              font-weight: 300 !important; }
      .footer .social img {
        height: 28px !important; }
      .footer .ltk-footer .subnav {
        margin-top: 8px;
        padding: 0px !important; }
        .footer .ltk-footer .subnav li {
          margin: 0 auto; }
          .footer .ltk-footer .subnav li a {
            color: #767676;
            font-weight: 600;
            border: 0px;
            padding: 0px 6px 0px 3px; } }
