/**
 * partials/header
 * ---
 */
header {
  background: #000; }
  header .logo-img {
    height: 24px; }
  header .logo {
    text-align: left; }
  header .logo-white {
    display: none; }
  header .logo-black {
    display: block; }
  @media all and (max-width: 767px) {
    header {
      text-align: center;
      padding: 24px 0px; }
      header.active {
        background: #000 !important; }
        header.active .logo-white {
          display: block; }
        header.active .logo-black {
          display: none; }
      header .logo {
        text-align: center;
        margin: 0px auto; }
        header .logo img {
          height: 20px;
          text-align: center;
          margin: 0px auto; }
        header .logo a {
          width: 100%;
          display: block;
          margin: 0 auto;
          text-align: center; } }
