/**
 * partials/header
 * ---
 */


// Header container
header {
	background: #000;
	// padding: 20px 0px;
	.logo-img {
		height: 24px;
	}
	.logo {
		text-align: left;
	}
	.logo-white {
		display: none;
	}
	.logo-black {
		display: block;
	}
	@media all and (max-width: 767px) {
		text-align: center;
		padding: 24px 0px;
		&.active {
			background: #000 !important;
			.logo-white {
				display: block;
			}
			.logo-black {
				display: none;
			}
		}
		.logo {
			text-align: center;
			margin: 0px auto;
			img {
				height: 20px;
				text-align: center;
				margin: 0px auto;
			}
			a {
				width: 100%;
				display: block;
				margin: 0 auto;
				text-align: center;
			}
		}
	}
}


