html {
	body {
		.masthead {
			.box {
				max-width: 100%;
				.jarallax {
					height: 360px;
	        		width: 100%;
				}
				.btn {
					margin-top: 40px;
				}
			}
			.arrows {
				display: none;
			}
			@media all and (max-width: 767px) {
				padding-top: 30px !important;
				.arrows {
					display: block;
					position: absolute;
					top: 40%;
					width: 100%;
					left: 0px;
					padding: 0px 8px;
					z-index: 8;
					.next {
						float: right;
					}
					i {
						color: rgba(0,0,0,.15);
				          font-size: 24px;
				          cursor: pointer;
				          &:hover  {
				            color: rgba(0,0,0,1);
				          }
					}
				}
				h4 {
					font-size: 8px;
					margin-top: 20px;
					margin-bottom: 0px;
				}
				h1 {
					margin-bottom: 8px;
					font-size: 30px;
					margin-top: 12px;
				}
		p {
					margin-bottom: 0px
				}
				.slick-dots {
					left: 0px;
				}
				.ssba {
					img {
						width: 24px !important;
					}
				}
				.btn {
					display: none !important;
				}
			}
		}
	}
}