html body .masthead .box {
  max-width: 100%; }
  html body .masthead .box .jarallax {
    height: 360px;
    width: 100%; }
  html body .masthead .box .btn {
    margin-top: 40px; }
html body .masthead .arrows {
  display: none; }
@media all and (max-width: 767px) {
  html body .masthead {
    padding-top: 30px !important; }
    html body .masthead .arrows {
      display: block;
      position: absolute;
      top: 40%;
      width: 100%;
      left: 0px;
      padding: 0px 8px;
      z-index: 8; }
      html body .masthead .arrows .next {
        float: right; }
      html body .masthead .arrows i {
        color: rgba(0, 0, 0, 0.15);
        font-size: 24px;
        cursor: pointer; }
        html body .masthead .arrows i:hover {
          color: black; }
    html body .masthead h4 {
      font-size: 8px;
      margin-top: 20px;
      margin-bottom: 0px; }
    html body .masthead h1 {
      margin-bottom: 8px;
      font-size: 30px;
      margin-top: 12px; }
    html body .masthead p {
      margin-bottom: 0px; }
    html body .masthead .slick-dots {
      left: 0px; }
    html body .masthead .ssba img {
      width: 24px !important; }
    html body .masthead .btn {
      display: none !important; } }
