html {
	body {
		.masthead {
			.box {
				max-width: 100%;
				.jarallax {
					height: 360px;
	        		width: 100%;
				}
				.btn {
					margin-top: 40px;
				}
			}
			@media all and (max-width: 767px) {
				padding-top: 30px !important;
				h4 {
					font-size: 8px;
					margin-top: 20px;
					margin-bottom: 0px;
				}
				h1 {
					margin-bottom: 8px;
					font-size: 30px;
					margin-top: 12px;
				}
				p {
					margin-bottom: 0px
				}
				.ssba {
					img {
						width: 24px !important;
					}
				}
				.btn {
					display: none !important;
				}
			}
		}
	}
}